In [126]:
import functions

In [127]:
from platform import python_version

print(python_version())

3.7.3

In [128]:
import numpy as np
import csv
import math

def get_family_p(country):
    with open('Houseshold.csv',encoding='latin-1') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        flag=False
        for row in csv_reader:
            if flag==False:
                if row[0]==country and len(row[0])==len(country):
                    family_vector=np.array(row)
                    flag=True
            else:
                if row[0]==country and len(row[0])==len(country):
                    family_vector=np.array(row)
                else:
                    break
    family_vector[family_vector=='..']='0.0'
    average_household_size=float(family_vector[4])
    one_person_p=float(family_vector[30])/100
    couple_only_p=float(family_vector[31])/100
    couple_with_children_p=float(family_vector[32])/100
    single_parent_with_children_p=float(family_vector[33])/100
    average_household_size-1*one_person_p-2*couple_only_p
    Extended_family_p=float(family_vector[36])/100
    Non_relative_p=float(family_vector[37])/100
    return np.array([one_person_p,couple_only_p,couple_with_children_p,single_parent_with_children_p])

def get_age_distribution(country):
    age_distribution=[]
    with open('World_Age_2019.csv') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            if row[0]==country:
                for i in range(101):
                    age_distribution.append(float(row[i+1]))
                break
    return np.array(age_distribution)

def get_mean_child_number(country):
    with open('TotalFertility.csv',encoding='latin-1') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            if row[0]==country:
                child_number=float(row[1])
                break
    return child_number

def get_mother_birth_age_distribution(country):
    mother_birth_age_distribution=[]
    with open('AgeSpecificFertility.csv',encoding='latin-1') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            if row[0]==country:
                #15-19	20-24	25-29	30-34	35-39	40-44	45-49
                for i in range(7):
                    mother_birth_age_distribution.append(float(row[i+1]))
                break
    return np.array(mother_birth_age_distribution)

In [129]:
n = 10000000
#from sample_households import sample_households_maharashtra
#from sample_households import sample_households_up
from sample_households import sample_households_tamilnadu
#households, age = sample_households_italy(10000000)
#households, age = sample_households_maharashtra(10000000)
households, age = sample_households_tamilnadu(10000000)

LOL3_TN

In [130]:
#age=np.array([int(item*(31./37.)) for item in age])
# Population sample adjustment FOR Maharashtra
'''
for i, item in enumerate(age):
    if item>60 and np.random.uniform()>=0.5:
        age[i]=np.random.uniform(101)
'''


"""
# Population sample adjustment FOR UP
n_ages = 101
age_distribution= [2.1,2.03,2.03,2.14,2.08,2.12,2.31,2.22,2.47,2.01,2.76,2.02,2.69,2.49,2.2,2.45,2.41,2.15,
                       2.75,1.72,2.46,1.55,2.19,1.61,1.55,2.23,1.56,1.23,1.8,0.81,2.25,0.67,1.56,0.8,0.79,2.26,
                       0.98,0.73,1.25,0.58,1.96,0.54,1.16,0.64,0.57,1.87,0.72,0.61,0.96,0.48,1.08,0.61,1.02,0.56,
                       0.54,1.62,0.65,0.42,0.7,0.28,1.73,0.29,0.65,0.27,0.23,1.52,0.2,0.19,0.31,0.11,1.1,0.09,0.25,
                       0.09,0.08,0.58,0.09,0.04,0.09,0.03,0.42,0.03,0.07,0.02,0.02,0.19,0.02,0.02,0.02,0.01,0.1,0,
                       0.01,0,0,0.03,0.01,0.01,0.01,0.01,0.01]

age_distribution=np.array(age_distribution)
for i, item in enumerate(age):
    if item>50 and item <70 and np.random.uniform()>=0.6:
        age[i]=np.random.choice(n_ages-71, p=age_distribution[:30]/sum(age_distribution[:30]))
    elif item >=70 and np.random.uniform()>=0.4:
        age[i]=np.random.choice(n_ages-71, p=age_distribution[:30]/sum(age_distribution[:30]))


"""




# Population sample adjustment FOR TN
n_ages = 101
age_distribution_tamilnadu= [1.38, 1.56, 1.57, 1.73, 1.57, 1.39, 1.53,1.6, 1.57,1.42, 1.57, 1.39, 1.61, 1.72, 1.54, 1.78, 1.46, 1.65, 1.67, 1.53, 1.68, 1.52, 1.67,
                       1.74, 1.79, 2.1, 1.59, 1.8, 1.93, 1.64, 2.4, 1.21, 1.87, 1.22, 1.45, 2.24, 1.28, 1.43, 1.73, 1.23, 2.48, 0.87, 1.46, 1.02, 1, 2.61,
                       1.03, 1.24, 1.47, 1.1, 1.63, 0.8, 1.45, 0.81, 0.85, 1.96, 0.83, 0.73, 0.96, 0.51, 1.93, 0.36, 0.73, 0.46, 0.42, 1.54, 0.26, 0.44,
                       0.34, 0.27, 1.11, 0.11, 0.21, 0.16, 0.17, 0.61 ,0.12, 0.1, 0.1, 0.07, 0.37,0.04, 0.06, 0.03, 0.05, 0.15, 0.03, 0.03, 0.02, 0.01,
                       0.07, 0.01, 0, 0.01, 0.01, 0.01, 0.01, 0.01, 0, 0, 0]


age_distribution_tamilnadu=np.array(age_distribution_tamilnadu)
for i, item in enumerate(age):
    if item>50 and np.random.uniform()>=0.7:
        age[i]=np.random.choice(n_ages-51, p=age_distribution_tamilnadu[:50]/sum(age_distribution_tamilnadu[:50]))

In [131]:
age.mean()

32.5566352

In [132]:
age.max()

100

In [133]:
import numpy as np
import csv
import math
y = np.bincount(age)
age_ratios = y/y.sum()

In [134]:
age_0_14 = age_ratios[0:15].sum()
age_15_29 = age_ratios[15:30].sum()
age_30_49 = age_ratios[30:50].sum()
age_50_69 = age_ratios[50:70].sum()
age_70_plus = age_ratios[70:].sum()

In [135]:
print('Sampled')
print('0-14: ', age_0_14)
print('15-29: ', age_15_29)
print('30-49: ', age_30_49)
print('50-69: ', age_50_69)
print('70+: ', age_70_plus)

Sampled
0-14:  0.2283386
15-29:  0.26671890000000004
30-49:  0.2912239
50-69:  0.1728401
70+:  0.040878500000000005

In [136]:
age_distribution_up= [2.1,2.03,2.03,2.14,2.08,2.12,2.31,2.22,2.47,2.01,2.76,2.02,2.69,2.49,2.2,2.45,2.41,2.15,
                       2.75,1.72,2.46,1.55,2.19,1.61,1.55,2.23,1.56,1.23,1.8,0.81,2.25,0.67,1.56,0.8,0.79,2.26,
                       0.98,0.73,1.25,0.58,1.96,0.54,1.16,0.64,0.57,1.87,0.72,0.61,0.96,0.48,1.08,0.61,1.02,0.56,
                       0.54,1.62,0.65,0.42,0.7,0.28,1.73,0.29,0.65,0.27,0.23,1.52,0.2,0.19,0.31,0.11,1.1,0.09,0.25,
                       0.09,0.08,0.58,0.09,0.04,0.09,0.03,0.42,0.03,0.07,0.02,0.02,0.19,0.02,0.02,0.02,0.01,0.1,0,
                       0.01,0,0,0.03,0.01,0.01,0.01,0.01,0.01]
age_distribution_maharashtra=[1.63, 1.54, 1.73, 1.67, 1.68, 1.50, 1.60, 1.58, 1.67, 1.54, 1.67, 1.59, 1.78, 1.65, 2.01, 1.76,
                       1.65, 1.76, 1.93, 1.68, 1.98, 1.84, 2.14, 1.83, 1.95, 2.29, 1.91, 1.71, 1.91, 1.50, 2.23, 1.20,
                       1.78, 1.14, 1.24, 2.20, 1.19, 1.17, 1.37, 1.18, 2.01 ,0.94, 1.38, 1.03, 0.91 ,1.86, 0.95, 0.92,
                       0.99, 0.76, 1.78, 0.79, 1.05, 0.66, 0.73, 1.66, 0.70, 0.66, 0.71, 0.50, 1.74, 0.44, 0.70, 0.45,
                       0.45, 1.84, 0.44, 0.51, 0.41, 0.36, 1.12, 0.22, 0.37, 0.18, 0.20, 0.64, 0.12, 0.12 ,0.14, 0.07,
                       0.38, 0.06, 0.10, 0.05, 0.07, 0.15, 0.03, 0.03, 0.02, 0.03, 0.10, 0.00,0.01, 0.01, 0.01, 0.07,0.02, 0,0,0,0]

age_distribution_tamilnadu= [1.38, 1.56, 1.57, 1.73, 1.57, 1.39, 1.53,1.6, 1.57,1.42, 1.57, 1.39, 1.61, 1.72, 1.54, 1.78, 1.46, 1.65, 1.67, 1.53, 1.68, 1.52, 1.67,
                       1.74, 1.79, 2.1, 1.59, 1.8, 1.93, 1.64, 2.4, 1.21, 1.87, 1.22, 1.45, 2.24, 1.28, 1.43, 1.73, 1.23, 2.48, 0.87, 1.46, 1.02, 1, 2.61,
                       1.03, 1.24, 1.47, 1.1, 1.63, 0.8, 1.45, 0.81, 0.85, 1.96, 0.83, 0.73, 0.96, 0.51, 1.93, 0.36, 0.73, 0.46, 0.42, 1.54, 0.26, 0.44,
                       0.34, 0.27, 1.11, 0.11, 0.21, 0.16, 0.17, 0.61 ,0.12, 0.1, 0.1, 0.07, 0.37,0.04, 0.06, 0.03, 0.05, 0.15, 0.03, 0.03, 0.02, 0.01,
                       0.07, 0.01, 0, 0.01, 0.01, 0.01, 0.01, 0.01, 0, 0, 0]


italian_ages = np.array(age_distribution_tamilnadu)
italian_ages = italian_ages/italian_ages.sum()

In [137]:
italian_ages_0_14 = italian_ages[0:15].sum()
italian_ages_15_29 = italian_ages[15:30].sum()
italian_ages_30_49 = italian_ages[30:50].sum()
italian_ages_50_69 = italian_ages[50:70].sum()
italian_ages_70_plus = italian_ages[70:].sum()

In [138]:
print('Actual')
print('0-14: ', italian_ages_0_14)
print('15-29: ', italian_ages_15_29)
print('30-49: ', italian_ages_30_49)
print('50-69: ', italian_ages_50_69)
print('70+: ', italian_ages_70_plus)

Actual
0-14:  0.23149999999999996
15-29:  0.25549999999999995
30-49:  0.30339999999999995
50-69:  0.17279999999999995
70+:  0.0368

In [139]:
from sample_comorbidities import sample_joint_comorbidities, p_comorbidity
#a= p_comorbidity("Maharashtra", 'diabetes', warning=False)
country='tamilnadu'
n_ages = 101
age_groups = tuple([np.where(age == i)[0] for i in range(0, n_ages)])
    #    age_group_sizes = np.array([age_groups[i].shape[0] for i in range(0, n_ages)])
    #    diabetes = sample_comorbidities.sample_diabetes_china(age)
    #    hypertension = sample_comorbidities.sample_hypertension_china(age)
diabetes, hypertension = sample_joint_comorbidities(age, country)

LOL2

In [140]:
# Does number of ppl with diabetes make sense?
diabetes.sum()

1514687

In [141]:
# Does number of ppl with hypertension make sense?
hypertension.sum()

1862837

In [74]:
import pickle
pickle.dump([age, households, diabetes, hypertension, age_groups ], open('tamilnadu_population_10000000.pickle', "wb" ))

In [75]:
# Check that it is loading correctly from file
age, households, diabetes, hypertension, age_groups = pickle.load(open('{}_population_{}.pickle'.format(country, n), 'rb'))